(edif ediftest
  (edifversion 2 0 0)
  (ediflevel 0)
  (keywordmap (keywordlevel 0))
(status 
 (written 
  (timeStamp"10/15/23 10/15/23")
  (program "ATMEL FITTER"
  (version "Version 1.5"))
 ) 
) 
  ( Library DESIGNS
    ( ediflevel 0)
    (technology (numberdefinition))
    (cell TRI (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
          (port A  (direction INPUT))
          (port EN  (direction INPUT))
        )
      )
    )
    (cell BUF (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
          (port A  (direction INPUT))
        )
      )
    )
    (cell XOR2 (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
          (port A1  (direction INPUT))
          (port A2  (direction INPUT))
        )
      )
    )
    (cell OR1 (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
          (port A1  (direction INPUT))
        )
      )
    )
    (cell AND1 (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
          (port A1  (direction INPUT))
        )
      )
    )
    (cell VCC (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
        )
      )
    )
    (cell GND (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port Q  (direction OUTPUT))
        )
      )
    )
    (cell Z:\home\owner\Nextcloud\ee-pld\ediftest\ediftest  (celltype GENERIC)
      (view netlist (viewtype NETLIST)
        (interface
          (port HELLO_IN  (direction INPUT))
          (port HELLO_OUT  (direction OUTPUT))
        )
        (contents
          (instance TRI_5 (viewref netlist (cellref TRI (libraryref DESIGNS))))
          (instance BUF_4 (viewref netlist (cellref BUF (libraryref DESIGNS))))
          (instance XOR2_3 (viewref netlist (cellref XOR2 (libraryref DESIGNS))))
          (instance OR1_2 (viewref netlist (cellref OR1 (libraryref DESIGNS))))
          (instance AND1_1 (viewref netlist (cellref AND1 (libraryref DESIGNS))))
          (instance BUF_0 (viewref netlist (cellref BUF (libraryref DESIGNS))))
          (instance PowVCC (viewref netlist (cellref VCC (libraryref DESIGNS))))
          (instance PowGND (viewref netlist (cellref GND (libraryref DESIGNS))))

          (net NET_0  (joined
            (portref Q (instanceref TRI_5))
            (portref HELLO_OUT)
            )
          )

          (net NET_1  (joined
            (portref EN (instanceref TRI_5))
            (portref Q (instanceref PowVCC))
            )
          )

          (net NET_2  (joined
            (portref Q (instanceref BUF_4))
            (portref A (instanceref TRI_5))
            )
          )

          (net NET_3  (joined
            (portref Q (instanceref XOR2_3))
            (portref A (instanceref BUF_4))
            )
          )

          (net NET_4  (joined
            (portref A2 (instanceref XOR2_3))
            (portref Q (instanceref PowGND))
            )
          )

          (net NET_5  (joined
            (portref Q (instanceref OR1_2))
            (portref A1 (instanceref XOR2_3))
            )
          )

          (net NET_6  (joined
            (portref Q (instanceref AND1_1))
            (portref A1 (instanceref OR1_2))
            )
          )

          (net NET_7  (joined
            (portref Q (instanceref BUF_0))
            (portref A1 (instanceref AND1_1))
            )
          )

          (net NET_8  (joined
            (portref A (instanceref BUF_0))
            (portref HELLO_IN)
            )
          )
        )
      )
    )
  )
  (comment "Reference To The Cell Of Highest Level")
(design PCB (cellref Z:\home\owner\Nextcloud\ee-pld\ediftest\ediftest (libraryref DESIGNS)))
)
